html,
body,
.main {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
  /* overflow-x: hidden;
  overflow-y: auto; */
}

* {
  font-family: "Quantico";
  box-sizing: border-box;
}



.container {

  max-width: 1440px;
  
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}


.bottomleft {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.claim-tk {
  /* margin-top:50px; */
  
  background: black;
  background: url("../images/background_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 90px;
  padding-bottom: 100px;
  min-height: calc(100vh - 181px);
  
  
 
}

.main h2 {
  top: 54px;
  margin-bottom: 54px;
  font-weight: 700;
  font-size: 80px;
  line-height: 103.4%;

  text-align: center;
  color: #f2bd01;
  text-shadow: 0px 0px 14px #f2bd01;
}

.box_content{
  padding: 4px;
  box-sizing: border-box;
}
/* box to edit here */
.parent_box_center {
  
  
  top: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 10px;
  align-items: center;
}

.top_column{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

}

.groupbox {
  box-sizing: border-box;
  
  padding: 16px;
  margin-right: 3px;
  background: #000000;
  border: 2px solid #e5e5e5;
  border-radius: 20px;
}

#coin_ico {
  position: absolute;
  width: 57px;
  height: 57px;
}
h4 {
  text-align: right;
  color: #f2bd01;
  margin-top: 2px;
  margin-bottom: 0px;
}

#locked {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 13px;
  padding-left: 5px;
  margin: 0;
  padding-right: 4px;
  margin-left: 188px;
  font-size: 12px;
  color: #e5e5e5;
  text-align: center;
}

#locked img{
  padding-bottom: 3px;
  padding-right:2px;
}

table {
  width: 100%;
  margin-top: 20px;
}
tr {
  height: 29px;
}
table #stat {
  text-align: left;
  font-style: normal;
  color: #e5e5e5;
  font-size: 14px;
}
table #value {
  text-align: right;
  color: #f2bd01;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
}

#para_box_name{
  display: flex;

}

/* cool hover button */
.button {
  width: 100%;
  height: 35px;
  background-color: #000000;
  color: #f2bd01;
  border: 1px solid #f2bd01;
  box-sizing: border-box;
  border-radius: 5px;
  transition: ease-out 0.5s;

  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  z-index: 1;
}
.bt1:hover {
  cursor: pointer;
  background: #f2bd01;
  color: #000000;
}

.bt1::before {
  transition: 0.7s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #f2bd01;
}

.bt1:hover::before {
  transition: 0.7s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
/*  */
.button2 {
  width: 100%;
  height: 35px;
  background-color: #f2bd01;
  color: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  transition: ease-out 0.5s;

  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  z-index: 1;
}
.bt2:hover {
  cursor: pointer;
  background: #000000;
  color: #f2bd01;
}

.bt2::before {
  transition: 0.7s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #000000;
}

.bt2:hover::before {
  transition: 0.7s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 500px) {
}

@media only screen and (max-width: 425px) {
  main.h3{
    
  }
}

@media only screen and (max-width: 375px) {
  .main h2 {
    font-size: 40px;
  }
}
