.navigation {
  
  width: 100%;
  height: 94px;
  left: -2px;
  bottom: -77px;
  background: #080a0b;
}

#navapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: aliceblue;
  padding-top: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

ul li{
  margin: 0 16px;
}

ul li a  {
 display:flex;
 justify-content: center;
 align-items: center;
 float: left;
 
 
}

ul img {
  opacity: 1;
}

ul img:hover {
  opacity: 0.3;
}

