.navigation {
  
    background: #080a0b;
    padding-top: 35px;
    padding-bottom: 35px;
}

#navapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: aliceblue;
 
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin:0;
  align-items: center;
}

ul li{
  margin: 0 20px;
}

ul li a  {
 display:flex;
 justify-content: center;
 align-items: center;
 float: left;
 
 
}

ul img {
  opacity: 1;
}

ul img:hover {
  opacity: 0.3;
}

